{% extends 'webapp/base.html' %}


{% load crispy_forms_tags %}


{% block content %}

<body>

    <div class = "container bg-light shadow-md p-5 form-layout">

        <h3> Unesi Zahtev </h3>
        
        <hr>

        <form method = "POST" autocomplete = "off">

            {% csrf_token %}

            {{cForm.klijent|as_crispy_field}}

            <br>

            {{cForm.tip_stranke|as_crispy_field}}

            <br>

            {{cForm.email|as_crispy_field}}

            <br>

            {{cForm.telefon|as_crispy_field}}

            <br>

            {{cForm.uredjaj|as_crispy_field}}

            <br>

            {{cForm.opis_zahteva|as_crispy_field}}

            <br>

            <button type = "submit" class = "btn btn-primary w-100 btn-block p-2" > Potvrdi &nbsp; <i class="fa fa-check" aria-hidden="true"></i></button>

        </form>

    </div>
    
</body>




{% endblock %}